:root {
    --bg-color: #011627;
    --border-color: #00d1ff;
    --text-color: #ffffff;
    --cell-bg: #010b13;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.logo {
    font-style: italic;
    font-weight: 800;
}

.logo span { 
    color: var(--border-color); 
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid-cell {
    aspect-ratio: 1/1;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: var(--cell-bg);
    text-transform: uppercase;
    padding: 5px;
}

.club-header, .club-side {
    background-color: #001a2c;
    color: var(--border-color);
}

.play-cell.correct {
    background-color: #00d1ff22;
    color: white;
    font-size: 0.6rem;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#playerInput {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 60%;
}

#searchBtn {
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}